templates/n8n/daily-discovery.json
{
  "name": "CNL - Daily Discovery",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "node-schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "{{CNL_BASE_URL}}/api/v1/discovery/full",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "node-discovery-api",
      "name": "Run Discovery",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.changes_detected }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-check-changes",
      "name": "Check for Changes",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@cnl.local",
        "toEmail": "{{NOTIFICATION_EMAIL}}",
        "subject": "CNL Daily Discovery - Changes Detected",
        "text": "=Network changes detected in today's discovery scan.\n\nSummary:\n- Networks scanned: {{ $json.networks_count }}\n- Devices found: {{ $json.devices_count }}\n- Changes: {{ $json.changes_summary }}\n\nView full report: {{CNL_BASE_URL}}/reports/latest",
        "options": {}
      },
      "id": "node-email-notification",
      "name": "Send Email Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "content": "=No changes detected in today's discovery scan.",
        "options": {}
      },
      "id": "node-no-changes",
      "name": "No Changes",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Run Discovery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Discovery": {
      "main": [
        [
          {
            "node": "Check for Changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Changes": {
      "main": [
        [
          {
            "node": "Send Email Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
